.container {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  position: relative;
}

.btn-wrap {
  display: flex;
  flex-direction: row;

  span {
    display: block;
    margin: 0 10px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #f00;
    border-radius: 10rem;
  }
}

.wrap {
  width: 100%;
  height: 100%;
  position: absolute;

  >* {
    visibility: hidden;
    border: 1px solid #F00;
    display: inline-block;
    margin: 5%;
    width: 40%;
    height: 40%;
    box-sizing: border-box;
    text-align: center;
    line-height: 100%;
  }

  /*&.section2{
    display: none;
    > * {
      visibility: visible;
    }
  }*/
}